.pages_list {
  display: flex;
  list-style-type: none;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.al,
.ar,
.dots {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}
.arrowLeftWrapper {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 40px;
  background: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
  border: transparent;

  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.al {
  position: relative;
  top: 0px;
  left: 0px;
  transform: translate(80%, 70%);
}
.arrowRightWrapper {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;

  width: 40px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
}
.ar {
  position: relative;
  transform: translate(80%, 70%);
}

.pages_list > a {
  position: relative;
  display: flex;
  /* width: 40px; */
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.pages_list > i {
  display: flex;
  width: 40px;
  height: 20px;
  padding-top: 6px;
  justify-content: center;
  align-items: flex-start;
}

a.activePage {
  width: 40px;
  height: 40px;
  background: #ff6b08;
  border-radius: 5px;
  margin-right: 0px;
  margin-left: 0px;
}

.arrowRightWrapper:hover {
  border: solid;
  border-color: rgb(128, 209, 219);
  border-radius: 5px;
}
.arrowLeftWrapper:hover {
  border: solid;
  border-color: rgb(128, 209, 219);
  border-radius: 5px;
}
.pages_list > a::after {
  content: '';
  position: absolute;
  top: 60%;
  left: -20%;
  display: block;
  text-align: center;
  width: 140%;
  height: 2px;
  background-color: rgb(128, 209, 219);
  visibility: hidden;
}

.pages_list > a.activePage:hover::after {
  visibility: hidden;
}

.pages_list > a:hover::after {
  visibility: visible;
}
