@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* *,
*::before,
*::after {
  box-sizing: inherit;
} */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  height: 230px;
  position: relative;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(./img/img_header/header_bckg.jpg);

  background-repeat: no-repeat;
  max-width: 100%;
  min-width: 320px;
  background-size: cover;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 58px;
  width: 280px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  cursor: pointer;
}

.logo_path {
  padding-top: 5px;
}
.logo-text {
  color: #ffffff;
  margin: 0;
  visibility: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  line-height: 35px;
  font-weight: 500;
}

.navigationList {
  display: flex;
  width: 145px;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.navigationListItem {
  position: relative;
  cursor: pointer;
}
.js-home:hover::after {
  content: '';
  display: block;
  background-color: #ff6b08;
  width: 100%;
  height: 3px;
  position: absolute;
}

.js-library:hover::after {
  content: '';
  display: block;
  background-color: #ff6b08;
  width: 100%;
  height: 3px;
  position: absolute;
}

.search-form {
  display: flex;
  margin: 0 auto;
  padding-top: 38px;
}
.hideSearch {
  display: none;
  visibility: hidden;
}

#input {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border: transparent;
  border-bottom: 0.5px solid #ffffff;
  width: 268px;
}

::placeholder {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.search-button {
  width: 12px;
  border: transparent;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  background-image: url(./img/img_header/search_btn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* .navigationListItem {
  cursor: pointer;
} */
.navigationListItem.active {
  border-bottom: 3px solid #ff6b01;
}
.new_image {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(./img/img_header/header_bckg_library.jpg);
}

/* MAIN */
.container {
  margin: 0 auto;
  width: 320px;
  /* height: 1140px; */
  height: 3140px;
}

.movieListItem {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  font-weight: bold;
  padding-bottom: 12px;
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
}

.movies_list {
  margin: 0;
  padding: 0;
}

.img {
  width: 274px;
  height: 398px;
  left: 20px;
  top: 250px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 4px;
  margin-left: 22px;
  margin-bottom: 5px;
  text-align: left;
}

.date {
  font-size: 12px;
  color: #ff6b01;
  margin: 0;
  position: relative;
  left: 0px;
}

.rating {
  color: white;
  background: #ff6b01;
  border-radius: 5px;
  padding: 2px 9px;
  margin-left: 20px;
}

.genres {
  padding-left: 22px;
  color: #ff6b01;
}
.footer {
  display: block;
  height: 77px;

  padding: 30px 0 0;

  background-color: #f7f7f7;
  color: #545454;
}

.footer-text {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #545454;
}

.footer-link {
  color: #545454;
}

/* MAIN */
/* one film  */

.single-page {
  width: 320px;
  margin: 0 auto;
  font-family: Roboto;
}

.poster-wrapper {
  width: 320px;
  padding: 20px;
}

.description-wrapper {
  padding: 10px 20px;
}

.vote-wrapper {
  width: 280px;
  margin-bottom: 10px;
}

.popularity-wrapper {
  margin-bottom: 10px;
}

.original-film-wrapper {
  margin-bottom: 10px;
}

.film-genre-wrapper {
  margin-bottom: 20px;
}

.film-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.titles {
  color: #8c8c8c;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.votes-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-left: 8px;
}

.votes-average {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background: #ff6b01;
  border-radius: 5px;
  margin-left: 25px;
  padding: 2px 9px;
  color: white;
}

.popularity-score {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding-left: 37px;
}

.original-film-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 25px;
}

.genre-list {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-left: 52px;
}

h3 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}

.film-description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 30px;
}

.button-wrapper {
  margin-bottom: 40px;
  max-width: 270px;
  display: flex;
  justify-content: space-between;
}

.button-icon {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
}
.video-icon {
  margin-right: 5px;
}

.button-icon:hover {
  color: #f7f7f7;
  background-color: #ff6b01;
}
.btn_library.button-icon {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-left: 20px;
}

.btn_library.button-icon.active_btn {
  background-color: rgb(255, 107, 8, 1);
  border: 1px solid #ff6b01;
}
/* FOOTER */

.footer {
  display: block;
  text-align: center;
  padding: 30px 0 0;
  background-color: #f7f7f7;
  color: #545454;
  height: 100px;
}

.footer-container {
  text-align: center;
  padding: 0 40px;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}

.footer-link {
  color: #545454;
}

/* MEDIA MOBILE */

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./img/img_header/header_bckg768.jpg);
  }
  .new_image {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./img/img_header/header_bckg_library768.jpg);
  }
  .single_film_img {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../src/img/img_header/header_bckg_single.jpg');
  }
}

/* MEDIA TABLET */

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./img/img_header/header_bckg1024.jpg);
  }
  .new_image {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./img/img_header/header_bckg_library768.jpg);
  }
  .logo {
    width: 175px;
  }

  .logo-text {
    font-size: 30px;
    visibility: visible;
  }

  .header__container {
    width: 615px;
  }

  #input {
    width: 324px;
  }
  .container {
    width: 768px;
  }

  .movies_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h2 {
    padding: 4px 0px 0px 0px;
    margin: 0;
    width: 280px;
  }
  .genres {
    margin: 0;
    padding: 3px 0px 0px 0px;
  }
  li {
    margin: 0;
  }
  .single-page {
    min-width: 760px;
    margin: 0;
    padding: 0;
  }
  .poster {
    margin: 0px 0px 0px 40px;
    float: left;
    width: 350px;
  }

  .description-wrapper {
    margin: 0;
    float: left;
    width: 350px;
    margin: 0px 0px 0px 30px;
    padding-top: 0;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

/* MEDIA DESKTOP */
@media (min-width: 1024px) {
  .logo {
    width: 175px;
  }

  .logo-text {
    font-size: 30px;
    visibility: visible;
  }

  .header {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./img/img_header/header_bckg1024.jpg);
  }
  .new_image {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./img/img_header/header_bckg_library1024.jpg);
  }
  .single_film_img {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../src/img/img_header/header_bckg_single1024.jpg');
  }
  .header__container {
    width: 882px;
  }

  #input {
    width: 324px;
  }
  .movies_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container {
    width: 1000px;
  }
  h2 {
    padding: 4px 0px 0px 0px;
    margin: 0;
  }
  .genres {
    margin: 0;
    padding: 3px 0px 0px 0px;
  }
  li {
    margin: 0;
  }
  .single-page {
    min-width: 1000px;
  }
  .poster {
    margin: 0px 0px 0px 70px;
    float: left;
    width: 500px;
  }

  .description-wrapper {
    margin: 0;
    float: left;
    width: 500px;
    margin: 0px 0px 0px 80px;
    padding-top: 0;
  }
}
